<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seckill.seckillservicesystem.dao.SeckillGoodEntityMapper" >
  <resultMap id="BaseResultMap" type="com.seckill.seckillservicesystem.entity.SeckillGoodEntity" >
    <constructor >
      <idArg column="good_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="good_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="good_price" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    good_id, good_number, good_price, status, start_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from seckill_good
    where good_id = #{goodId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from seckill_good
    where good_id = #{goodId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.seckill.seckillservicesystem.entity.SeckillGoodEntity" >
    insert into seckill_good (good_id, good_number, good_price, 
      status, start_time)
    values (#{goodId,jdbcType=BIGINT}, #{goodNumber,jdbcType=INTEGER}, #{goodPrice,jdbcType=DOUBLE}, 
      #{status,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seckill.seckillservicesystem.entity.SeckillGoodEntity" >
    insert into seckill_good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="goodNumber != null" >
        good_number,
      </if>
      <if test="goodPrice != null" >
        good_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        #{goodId,jdbcType=BIGINT},
      </if>
      <if test="goodNumber != null" >
        #{goodNumber,jdbcType=INTEGER},
      </if>
      <if test="goodPrice != null" >
        #{goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seckill.seckillservicesystem.entity.SeckillGoodEntity" >
    update seckill_good
    <set >
      <if test="goodNumber != null" >
        good_number = #{goodNumber,jdbcType=INTEGER},
      </if>
      <if test="goodPrice != null" >
        good_price = #{goodPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where good_id = #{goodId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seckill.seckillservicesystem.entity.SeckillGoodEntity" >
    update seckill_good
    set good_number = #{goodNumber,jdbcType=INTEGER},
      good_price = #{goodPrice,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP}
    where good_id = #{goodId,jdbcType=BIGINT}
  </update>
</mapper>